node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
# SSH Keys
terraform-keys/
devsecops-ssh-keys/
# Sensitive files
*.pem
*.key

# OS files
.DS_Store
